body {
    font-family: 'Roboto', sans-serif;

}

.part-one {
    background-image: linear-gradient(rgba(255, 249, 249, 0.185), rgba(14, 13, 13, 0.952)), url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 190px;
    padding-bottom: 190px;
    text-align: center;
    background-position: center;
    color: white;
    background-color: transparent;
}


#title-one {
    font-size: 60px;
}

.first-button {
    background-color: tomato;
    padding: 15px 15px 15px 15px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.first-para {
    padding-bottom: 40px;
    font-size: 16px;
    font-family: sans-serif;

}

.flex-one {
    display: flex;
    padding-left: 300px;
    margin-top: 30px;
}

.sizing-sec {
    padding-left: 20px;
    padding-right: 20px;
}

#sizing-one {
    text-align: center;
}

#sizing-para {
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 400px;
    margin-right: 400px;
}

#border-fix {
    border-color: rgb(245, 18, 48);
    border-style: solid;
    padding: 30px 25px;
    border-radius: 5px;
    background-color: rgb(243, 209, 209);
    color: rgb(226, 72, 72);
}

.sizing-3rd {
    border-style: inherit;
    padding: 30px 25px;
    border-radius: 5px;
    background-color: rgb(202, 198, 199);
}

.input-part {
    padding-left: 320px;
}

#taka {
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-left: 300px;
    padding-right: 260px;
    padding-top: 30px;
    margin-top: 20px;
    font-size: 15px;
    text-decoration: solid;
    color: rgb(165, 163, 163);
    border-color: rgb(165, 163, 163);
}

.button-one {
    margin-left: 320px;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: rgb(226, 68, 40);
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    border: none;
    padding: 15px 20px;
    color: white;
}