body {
    font-family: 'Roboto', sans-serif;

}

.part-one {
    background-image: linear-gradient(rgba(255, 249, 249, 0.185), rgba(14, 13, 13, 0.952)), url(images/donation4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 190px;
    padding-bottom: 190px;
    text-align: center;
    background-position: center;
    color: white;
    background-color: transparent;
}


#title-one {
    font-size: 60px;
}

.first-button {
    background-color: tomato;
    padding: 15px 15px 15px 15px;
    font-size: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.first-para {
    padding-bottom: 40px;
    font-size: 16px;
    font-family: sans-serif;

}

.flex-one {
    display: flex;
    padding-left: 300px;
    margin-top: 30px;
}

.sizing-sec {
    padding-left: 20px;
    padding-right: 20px;
}

#sizing-one {
    text-align: center;
}

#sizing-para {
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    margin-left: 400px;
    margin-right: 400px;
}

#border-fix {
    border-color: rgb(245, 18, 48);
    border-style: solid;
    padding: 30px 25px;
    border-radius: 5px;
    background-color: rgb(243, 209, 209);
    color: rgb(226, 72, 72);
}

.sizing-3rd {
    border-style: inherit;
    padding: 30px 25px;
    border-radius: 5px;
    background-color: rgb(202, 198, 199);
}

.input-part {
    padding-left: 320px;
}

#taka {
    text-align: center;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-left: 300px;
    padding-right: 260px;
    padding-top: 30px;
    margin-top: 20px;
    font-size: 15px;
    text-decoration: solid;
    color: rgb(165, 163, 163);
    border-color: rgb(165, 163, 163);
}

.button-one {
    margin-left: 320px;
    margin-top: 20px;
    margin-bottom: 100px;
    background-color: rgb(226, 68, 40);
    border-radius: 5px;
    font-size: 18px;
    text-decoration: none;
    border: none;
    padding: 15px 20px;
    color: white;
}

.heading-fix {
    text-align: center;
    font-size: 40px;
}

.new-and-new-para {
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 130px;
    margin-left: 360px;
    margin-right: 360px;
    color: gray;
}

.more-flex-part {
    display: flex;
    font-family: sans-serif;
    margin-left: 200px;
}

.more-para {
    text-align: justify;
    padding-right: 100px;
    color: gray;
    font-size: 16px;
}

.gallery-part {
    display: flex;
    size: 20px 18px;
    margin-left: 400px;
    border: 2px solid;
    margin-right: 440px;
    color: red;
    border-style: dotted;
}

.image-size-size {
    max-width: 200px;
    max-height: 150px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.alignment {
    text-align: center;
    font-size: 40px;
    margin-top: 100px;
}

.sponsors {
    display: flex;
    margin-left: 325px;
}

.new-and-new-para-new {
    font-family: sans-serif;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 360px;
    margin-right: 360px;
    color: gray;
}

.input-part-new {
    margin-left: 550px;
    display: flex;
}

#subscribe {
    padding-left: 0px;
    border-color: rgb(226, 216, 218);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    height: 40px;
    width: 260px;
    background-color: rgb(226, 216, 218);
    color: rgb(97, 97, 97);
    font-weight: 700;
    font-size: 15px;
}

.button-one-new {
    border-color: rgb(236, 47, 72);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 46px;
    width: 140px;
    background-color: rgb(236, 47, 72);
    color: white;
    margin-bottom: 100px;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}

.footer-part {
    background-color: rgba(10, 10, 39, 0.938);
}

.footer-text-one {
    color: rgba(243, 28, 28, 0.87);
    font-family: 'Lobster', cursive;
    font-weight: 300;
    text-align: center;
    padding-top: 50px;
}

.last-para {
    color: rgba(255, 255, 255, 0.712);
    font-family: sans-serif;
    text-align: center;
    padding-bottom: 50px;
    font-size: 13px;
}